<h1>Bulk Discounts</h1>

<section id="holidays">
<h3> Next Three Holidays!</h3>
  <% @holidays.each do |holiday| %>
    <b><%= holiday["name"] %></b> - <%= holiday["date"] %><br>
  <% end %>
</section>
<br/>
<br/>
<br/>

<%= link_to "Create Discount", new_merchant_discount_path(@merchant) %>

<% @discounts.each do |discount| %>
  <div id="discount_block-<%= discount.id %>">
    <p><%= link_to "#{discount.percentage_discount}% OFF", merchant_discount_path(@merchant, discount) %>: At least <%= discount.quantity_threshold %> of the same item is purchased.</p>
    <%= button_to "Delete Discount", merchant_discount_path(@merchant, discount), method: :delete %>
  </div>

  <% end %>
